*{
    margin: 0%;
    padding: 10%;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    background: black;
}

.container{
    font-size: 10vw;
    position: relative;
    color: white;
    text-shadow: 0 0 50px red,
                 0 0 100px red,
                 0 0 150px red,
                 0 0 200px red;
animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    0%{
        filter: hue-rotate(360deg);
    }
}
